.additional-products {
  padding-top: 5px;
  overflow: hidden;
}

.additional-products__title {
  max-width: 320px;
  margin: 8px auto 0;
  padding: 9px 20px;
  position: relative;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;

  &::after {
    position: absolute;
    content: "";
    left: 267px;
    top: 24px;
    width: 100vw;
    border: 1px solid $green;
  }
}

.additional-products__grid {
  width: 320px;
  margin-top: 26px;
}

@media (min-width: $tablet-width) {
  .additional-products {
    padding-top: 52px;
  }

  .additional-products__grid {
    width: 768px;
    margin-top: 71px;
  }

  .additional-products__title {
    max-width: 768px;
    padding: 8px 67px;
    font-size: 36px;
    line-height: 36px;

    &::after {
      left: 441px;
      top: 31px;
    }

    &::before {
      position: absolute;
      content: "";
      right: 738px;
      top: 31px;
      width: 100vw;
      border: 1px solid $green;
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-products__grid {
    display: grid;
    grid-template-columns: 894px 245px;
    gap: 80px;
    margin-top: 80px;
  }

  .additional-products {
    padding-top: 76px;
  }

  .additional-products__title {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 23px 0 110px;

    &::before {
      right: 1368px;
      top: 23px;
    }

    &::after {
      left: 484px;
      top: 23px;
    }
  }
}
