.additional-goods {
  padding-top: 10px;
  margin-top: 20px;
  outline: 3px solid slateblue;
  outline-offset: 10px;
}

.additional-goods__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
}

@media (min-width: $desktop-width) {
  .additional-goods__grid {
    display: grid;
    grid-template-columns: 894px 245px;
    gap: 80px;
  }
}
