.additional-goods {
  margin-top: 20px;
  outline: 3px solid red;
  outline-offset: 18px;
}

.additional-goods__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
}
