.additional-goods {
  padding-top: 23px;
}

.additional-goods__title {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
}

.additional-goods__grid {
  margin-top: 34px;
}

@media (min-width: $tablet-width) {
  .additional-goods {
    padding: 69px 31px 0;
  }

  .additional-goods__grid {
    margin-top: 80px;
  }

  .additional-goods__title {
    margin-left: 38px;
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods__grid {
    display: grid;
    grid-template-columns: 894px 245px;
    gap: 80px;
  }
}
