.card {
  padding-bottom: 16px;
  padding-top: 13px;
  outline: 3px solid green;
  outline-offset: 7px;
}

.cars__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__info {
  font-family: "Arial", "Roboto", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
}

.card__img {
  width: 140px;
  height: 112px;
  background-color: $basic-gray;
}

.card__button {
  margin-top: 13px;
  margin: 0 auto;
  width: 281px;
}

.card__grid {
  padding: 10px;
  outline: 3px solid darkblue;
  outline-offset: 3px;
}

@media (min-width: $tablet-width) {
  .card {
    width: 324px;
    text-align: center;
    background-color: $basic-gray;
  }
  .card__info {
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .card {
   width: 234px;
  }

  .card__button {
    width: 168px;
  }
}
