.card-container {
  width: 320px;
  padding: 4px 20px 10px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .card-container {
    width: 324px;
    padding: 4px 0 38px;
    background: linear-gradient(180deg, $white 20px 99px, $gray 99px);
  }
}

@media (min-width: $desktop-width) {
  .card-container {
    width: 246px;
  }
}
