.cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 44px;
  outline: 3px solid lawngreen;
  outline-offset: 12px;
}

@media (min-width: $tablet-width) {
  .cards {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media (min-width: $desktop-width) {
  .cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}
