.cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 38px;
}

.cards__item {
  border-top: 1px solid #444444;
  padding: 5px 0px;
}

@media (min-width: $tablet-width) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 62px;
    row-gap: 33px;
    margin-top: 60px;
  }

  .cards__item {
    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 79px;
    row-gap: 33px;
  }
}
