.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.card-grid__img {
  grid-row: 1/-1;
  margin-top: 13px;
}

.card-grid__title {
  margin-top: 16px;
}

.card-grid__info {
  margin-top: 3px;
  border-collapse: collapse;
}

.card-grid__info-meaning {
  padding-top: 1px;
  text-align: end;
}

.card-grid__info-definition {
  padding-top: 1px;
  text-align: start;
}


@media (min-width: $tablet-width) {
  .card-grid__img {
    position: relative;
    margin-top: 22px;
    margin-bottom: 11px;

    &--small {
      margin-top: 50px;
      margin-bottom: 20px;
    }
  }

  .card-grid {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .card-grid__info {
    margin-top: 7px;
  }

  .card-grid__info-row {
    border-bottom: 1px solid $gray-stroke;
  }

  .card-grid__info-meaning {
    padding-top: 6px;
    padding-bottom: 9px;
  }

  .card-grid__info-definition {
    padding-top: 6px;
    padding-bottom: 9px;
  }

  .card-grid__title {
    margin-top: 3px;
  }
}

@media (min-width: $desktop-width) {
  .card-grid__title {
    margin-top: 5px;
    line-height: 21px;
  }

  .card-grid {
    gap: 6px;
  }

  .card-grid__info {
    margin-top: 11px;
  }

  .card-grid__img {
    margin-top: 13px;
    margin-bottom: 21px;

    &--small {
      margin-top: 42px;
      margin-bottom: 27px;
    }
  }
}
