.cards {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 39px;
}

.cards__item {
  border-top: 1px solid $gray-hover;
  padding: 0;

  &--show {
    border-bottom: 1px solid #ebebeb;
  }
}

@media (min-width: $tablet-width) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 43px;
    margin: 66px auto 0;
    padding: 0 31px;
    max-width: 768px;
  }

  .cards__item {
    border-top: none;

    &--show {
      border-bottom: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .cards {
    max-width: 1270px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 65px;
    column-gap: 79px;
    row-gap: 43px;
    padding: 0 23px;
  }
}
