.development {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 13px 9px;
}

.development__link {
  margin-top: 6px;
  fill: $dark-gray;

  &:hover {
    fill: $green;
  }

  &:active {
    fill: $green;
    opacity: 0.6;
  }
}

.development__title {
  margin: 13px 0 0;
  font-family: "Arial", "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
}

@media (min-width: $tablet-width) {
  .development {
    width: 180px;
    padding: 0 9px;
  }

  .development__link {
    margin-top: 0;
  }

  .development__title {
    margin-top: 7px;
  }
}
