.footer-nav {
  text-align: center;
  background-color: $basic-gray;
  outline: 3px solid red;
}

.footer-nav__logo {
  padding: 32px 10px 29px 10px;
}

.footer-nav__social {
  margin-top: 20px;
}

.footer-nav__development {
  margin-top: 43px;
}

.footer-nav__social {
  outline: 3px solid hotpink;
}
