.footer-address {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding-top: 28px;
  padding-bottom: 26px;
  background-color: $white;

  &--catalog {
    background-color: $basic-gray;
  }
}

.footer-address__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

.footer-address__description {
  font-family: "Arial", "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
}

@media (min-width: $tablet-width) {
  .footer-address {
    padding: 65px 45px 58px 41px;
  }

  .footer-address__title {
    width: 200px;
    font-size: 20px;
    line-height: 23px;
  }

  .footer-address__description {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }
}

@media (min-width: $desktop-width) {
  .footer-address {
    position: absolute;
    top: 96px;
    width: 570px;
    padding: 69px 89px 58px 75px;

    &--catalog {
      background-color: $white;
    }
  }

  .footer-address__description {
    text-align: start;
  }
}
