.footer-map {
  background-color: $gray;
}

.footer-map__img {
  &--tablet,
  &--descktop {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .footer-map__img {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .footer-map__img {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
