.footer-nav {
  padding: 25px 22px;
  text-align: center;
  outline: 3px solid red;
}

.footer-nav__social {
  margin-top: 20px;
  outline: 3px solid hotpink;
}

.footer-nav__development {
  margin-top: 43px;
}

@media (min-width: $tablet-width) {
  .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-nav__social {
    margin-top: 0;
  }

  .footer-nav__development {
    margin-top: 0;
  }
}
