.footer-map {
  position: relative;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-size: 320px auto;
  background-repeat: no-repeat;

  &::before {
    position: absolute;
    content: "";
    top: 38%;
    left: 42%;
    width: 57px;
    height: 53px;
    background-image: url("../img/pin-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 57px auto;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");

    &::before {
      background-image: url("../img/pin-mobile@2x.png");
    }
  }
}

.footer-map__iframe {
  width: 100%;
  height: 359px;

  background-color: $gray;
}

.footer-map__pin {
  position: absolute;
}

@media (min-width: $tablet-width) {
  .footer-map {
    background-image: url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 768px auto;

    &::before {
      position: absolute;
      content: "";
      top: 36%;
      left: 43%;
      width: 113px;
      height: 106px;
      background-image: url("../img/pin-tablet@1x.png");
      background-repeat: no-repeat;
      background-size: 113px auto;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");

      &::before {
        background-image: url("../img/pin-tablet@2x.png");
      }
    }
  }

  .footer-map__iframe {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .footer-map {
    background-image: url("../img/bg-map-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: 1440px auto;

    &::before {
      top: 33%;
      left: 61%;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}
