.form-program__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 320px;
  margin: 0 auto;
}

.form-program__item {
  position: relative;
}

.form-program__input {
  display: none;
}

.form-program__label {
  padding-left: 65px;
  color: $dark-gray;
}

.form-program__radio {
  position: absolute;
  top: -8px;
  left: 21px;
  width: 30px;
  height: 30px;
  background-color: $white;
  border: 1px solid $gray-stroke-form;
  border-radius: 50%;
}

.form-program__input:checked + .form-program__radio::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 7px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $green;
}

.form-program__input:hover + .form-program__radio {
  border: 1px solid $gray-stroke-form-hover;
}

.form-program__input:disabled + .form-program__radio {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .form-program__list {
    gap: 23px;
    max-width: 555px;
    margin-left: 19px;
  }

  .form-program__label {
    padding-left: 48px;
  }

  .form-program__radio {
    top: -7px;
    left: -11px;
    width: 40px;
    height: 40px;
  }

  .form-program__input:checked + .form-program__radio::before {
    top: 10px;
    left: 10px;
    width: 18px;
    height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .form-program__list {
    gap: 23px;
    margin-top: 1px;
    margin-left: 21px;
  }

  .form-program__radio {
    top: -4px;
  }
}
