.form {
  overflow: hidden;
  font-size: 16px;
  line-height: 18px;
}

.form__legend {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;

  &::after {
    position: absolute;
    content: "";
    left: 144px;
    top: 16px;
    width: 100vw;
    border: 2px solid #68b738;
  }
}

.form__legend--contact::after {
  left: 201px;
}

.form__legend--additional::after {
  left: 163px;
}

.form__common {
  max-width: 320px;
  margin: 0 auto;
  margin-top: 33px;
  padding: 9px 20px;
}

.form__program {
  margin: 0 auto;
  margin-top: 14px;
  padding: 25px 20px 20px;
  border-top:  1px solid #E7E7E7;
  border-bottom:  1px solid #E7E7E7;
}

.form__contact {
  max-width: 320px;
  margin: 0 auto;
  margin-top: 26px;
  padding: 9px 20px;
}

.form__comment {
  max-width: 320px;
  margin: 0 auto;
  margin-top: 16px;
  padding: 9px 20px;
}

.form__additional {
  max-width: 320px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 9px 20px;
}

.form__button-grid  {
  max-width: 320px;
  margin: 0 auto;
  margin-top: 9px;
  padding: 9px 20px;
}

.form__button {
  margin-top: 10px;
  width: 279px;
}

.form__description {
  margin-top: 19px;
  text-align: center;
  display: block;
  font-family: "Arial", "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
}


@media (min-width: $tablet-width) {
  .form {
    font-size: 20px;
    line-height: 30px
  }

  .form__legend {
    font-size: 36px;
    line-height: 36px;

    &::before {
      position: absolute;
      content: "";
      right: 220px;
      top: 22px;
      width: 100vw;
      border: 2px solid #68b738;
    }

    &::after {
      left: 220px;
      top: 22px;
    }
  }

  .form__legend--contact {
    &::before {
      right: 550px;
    }

    &::after {
      left: 555px;
    }
  }

  .form__legend--additional {
    &::before {
      right: 248px;
    }

    &::after {
      left: 252px;
    }
  }

  .form__common {
    max-width: 768px;
    margin-top: 57px;
    padding: 10px 70px;
  }

  .form__program {
    max-width: 768px;
    margin-top: 63px;
    padding: 28px 20px 23px 20px;
    border: 1px solid #E7E7E7;
  }

  .form__contact {
    max-width: 768px;
    margin-top: 81px;
    padding: 10px 68px;
  }

  .form__comment {
    max-width: 768px;
    margin-top: 55px;
    padding: 10px 68px;
  }

  .form__additional {
    max-width: 768px;
    margin-top: 50px;
    padding: 16px 70px;
  }

  .form__button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 768px;
    margin: 0 auto;
    margin-top: 22px;
    padding: 10px 71px;
  }

  .form__button {
    margin-top: 10px;
    width: 283px;
    padding: 11px 26px;
  }

  .form__description {
    margin-top: 28px;
    margin-left: -72px;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form__common {
    margin: 0;
    padding: 0;
  }

  .form__program{
    margin: 0;
  }

  .form__contact {
    max-width: 1440px;
    margin-top: 50px;
    padding: 10px 110px;
  }

  .form__comment {
    max-width: 1440px;
    margin-top: 57px;
    padding: 10px 110px;
  }

  .form__additional {
    max-width: 1440px;
    margin-top: 52px;
    padding: 10px 110px;
  }

  .form__button-grid {
    max-width: 1440px;
    margin-top: 36px;
    padding: 10px 111px;
  }
  .form__button {
    width: 568px;
  }

  .form__description{
    margin-top: 29px;
    margin-left: -350px;
  }
}
