.form-comment__textarea {
  width: 283px;
  height: 151px;
  margin-top: 32px;
  padding: 3px 15px 3px;
  font-family: "Oswald", "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  resize: none;
  border: 1px solid $gray-stroke-form;

  &:hover {
    border: 1px solid $gray-result-filter;
  }

  &:focus {
    border: 1px solid $dark-gray;
  }
}

.form-comment__textarea::placeholder {
  color: $dark-gray;
}

@media (min-width: $tablet-width) {
  .form-comment__textarea {
    width: 631px;
    height: 174px;
    margin-top: 65px;
    padding: 10px 20px 20px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-comment__textarea {
    width: 1220px;
    padding: 10px 18px 20px;
  }
}
