.form-common {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-common__input {
  margin-left: 10px;
  padding: 12px 10px 12px 13px;
  width: 170px;

  &::placeholder {
    font-family: "Oswald", "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
  }

  &--name {
    width: 227px;
  }

  &--weight {
    margin-left: 13px;
    width: 203px;
  }

  &--age {
    margin-left: 6px;
  }

}

@media (min-width: $tablet-width) {
  .form-common {
    gap: 21px;
  }

  .form-common__input {
    margin-left: 10px;
    padding: 20px 10px 12px 18px;
    width: 494px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }

    &--name {
      width: 566px;
    }

    &--weight {
      margin-left: 15px;
      width: 533px;
    }

    &--age {
      margin-left: 5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-common__input {
    padding: 20px 10px 12px 20px;
    width: 436px;

    &--name {
      width: 508px;
    }

    &--weight {
      margin-left: 15px;
      padding-left: 17px;
      width: 474px;
    }

    &--age {
      margin-left: 12px;
      padding-left: 16px;
    }
  }
}
