.goods {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 11px;
  outline: 3px solid darkgoldenrod;
  outline-offset: 3px;
}

.goods__title {
  font-weight: normal;
}

.goods__info {
  font-size: 14px;
  font-family: "Arial", "Roboto", sans-serif;
  font-weight: normal;
  text-transform: none;
}
