.header-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-nav__logo {
  &--text {
    margin-top: 3px;
    margin-right: 5px;
  }
}

.header-nav__link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: $mobile-width-only) {
  .header-nav {
    padding-bottom: 10px;
  }

  .header-nav__toggle {
    position: relative;
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
    padding: 14px 14px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
  }

  .nav--closed .header-nav__toggle::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 23px;
    height: 2px;
    background-color: $black;
    box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
  }

  .nav--opened .header-nav__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 13px;
      left: 4px;
      width: 23px;
      height: 2px;
      background-color: $black;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .nav--closed .site-list__item {
    display: none;
  }

  .nav--opened .site-list__item {
    display: block;
  }

  .nav--nojs .header-nav__toggle {
    display: none;
  }

  .nav--nojs .site-list__item {
    display: block;
  }
}


@media (min-width: $tablet-width) {
  .header-nav {
    margin: 0;
    padding: 0 7px 16px;
  }

  .header-nav__toggle,
  .header-nav__logo--text {
    display: none;
  }

  .header-nav__logo {
    width: 174px;
    margin-top: 4px;
    margin-left: -5px;
  }
}

@media (min-width: $desktop-width) {
  .header-nav__logo {
    width: 202px;
    margin-top: 1px;
    margin-left: -5px;
  }
}
