.img-result {
  position: relative;
}

.img-result__before {
  position: absolute;
  left: -23px;
  top: -8px;
  width: 178px;
  height: 239px;
  object-fit: cover;
  object-position: -3% 10%;
}

.img-result__after {
  margin-top: -11px;
  margin-left: 155px;
  width: 139px;
  height: 246px;
  object-fit: cover;
  object-position: 87% 10%;
}

@media (min-width: $tablet-width) {
  .img-result__before {
    left: 2px;
    top: 45px;
    width: 347px;
    height: 515px;
  }

  .img-result__after {
    margin-top: 45px;
    margin-left: 293px;
    width: 304px;
    height: 516px;
  }
}

@media (min-width: $desktop-width) {
  .img-result__before {
    left: 124px;
    top: 16px;
    width: 375px;
  }

  .img-result__after {
    width: 269px;
    margin-top: 14px;
    margin-left: 478px;
  }
}
