.main-nav {
  font-weight: 500;
  font-size: 20px;
  border-top: 1px solid $gray-nav;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 440px;
  }

  .main-nav {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 400;
    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    z-index: 1;
    margin-top: 6px;
    font-size: 20px;
  }

  .main-nav__list {
    width: 479px;
  }
}
