.main-page {
  display: block;
  min-width: 320px;
  padding-top: 26px;
  padding-bottom: 33px;
  border-top: 1px solid #e6e6e6;
}

.main-page__title {
  text-align: center;
  margin-right: 21px;
}

@media (min-width: $tablet-width) {
  .main-page {
    padding-top: 31px;
    padding-bottom: 76px;
    border-top: none;
  }


  .main-page__title {
    text-align: start;
    margin-right: 21px;
  }
}

@media (min-width: $desktop-width) {
  .main-page {
    padding-top: 59px;
    padding-bottom: 84px;
  }
}
