.main-page {
  padding-top: 23px;
  padding-bottom: 25px;
  display: block;
}

@media (min-width: $tablet-width) {
  .main-page {
    padding-top: 33px;
  }
}

@media (min-width: $desktop-width) {
  .main-page {
    padding-top: 57px;
  }
}
