.main-nav {
  font-weight: 500;
  font-size: 20px;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
  }

  .main-nav {
    font-size: 18px;
    font-weight: 400;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin-top: 0;
    font-size: 20px;
    z-index: 1;
  }
}
