.main-nav {
  margin-top: 16px;
  font-weight: 500;
  font-size: 20px;
  outline: 3px solid rebeccapurple;
  outline-offset: -8px;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
  }
}
