.nav {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}

@media (min-width: $tablet-width) {
  .nav {
    padding-top: 20px;
    padding-bottom: 15px;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 53px;
  }
}
