.order-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 289px;
  margin-top: 39px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }
}

.order-all__description {
  position: relative;
  width: 160px;
  padding-top: 173px;
  font-family: "Arial", "Roboto", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
  color: $white;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    top: 43px;
    left: 41px;
    width: 78px;
    height: 80px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
  }
}

.order-all__br-tablet {
  display: none;
}

@media (min-width: $tablet-width) {
  .order-all {
    height: 200px;
    margin-top: 53px;
    padding: 58px 0;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }
  }

  .order-all__description {
    width: 429px;
    margin-left: 37px;
    padding-top: 0;
    padding-left: 265px;
    text-align: start;
    font-size: 16px;

    &::before {
      top: -16px;
      left: -79px;
    }
  }

  .order-all__br-tablet {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .order-all {
    height: 100%;
    margin-top: 0;
    padding: 0;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }

  .order-all__description {
    width: 177px;
    margin-left: 0;
    padding-top: 172px;
    padding-left: 0;
    text-align: center;

    &::before {
      top: 42px;
      left: 51px;
    }
  }
}
