.products {
  padding-top: 9px;
  border-top: 1px solid $gray-stroke-result;
}

.products__title {
  font-weight: normal;
  width: 200px;
  margin: 0;
}

.products__info {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  font-size: 14px;
  font-family: "Arial", "Roboto", sans-serif;
  font-weight: normal;
  text-transform: none;
}

.products__info-text {
  margin: 0;
  width: 119px;

  &--cost {
    text-align: end;
  }
}

.products__button {
  margin-top: 13px;
}

@media (min-width: $tablet-width) {
  .products {
    display: grid;
    grid-template-columns: 1fr 300px;
    align-items: center;
    padding: 26px 36px 25px;
    border: 1px solid $gray-stroke-result;
  }

  .products__title {
    font-size: 20px;
    line-height: 20px;
  }

  .products__button {
    grid-row-start: 2;
    grid-column: 1/-1;
    width: 100%;
    margin-top: 23px;
    padding: 8px 26px;
    font-size: 16px;
  }

  .products__info {
    justify-content: flex-end;
    width: 222px;
    margin-top: 5px;
    margin-left: 77px;
    font-size: 16px;
  }

  .products__info-text:first-child {
    margin-right: 46px;
  }

  .products__info-text {
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .products {
    display: flex;
    justify-content: normal;
    align-items: baseline;
    padding: 5px 0 14px;
    border: none;
    border-top: 1px solid $gray-stroke-result;
  }

  .products__info {
    justify-content: space-between;
    width: 286px;
    margin-left: auto;
    margin-right: 39px;
  }

  .products__button {
    grid-row-start: 2;
    grid-column: 1/-1;
    width: 244px;
    margin-top: 12px;
  }
}
