.programs-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}


@media (min-width: $tablet-width) {
  .programs-list {
    gap: 32px;
  }
}


@media (min-width: $desktop-width) {
  .programs-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 77px;
  }
}
