.promo {
  padding-top: 28px;
  padding-bottom: 19px;
  color: $white;
  text-align: center;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px auto;
  background-position: 50% -4px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.promo__title {
  width: 300px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
}

.promo__slogan {
  margin-top: 22px;
}

.promo__img {
  margin-top: 9px;
}

.promo__button {
  margin: 0 auto;
  font-size: 14px;
}

@media (min-width: $tablet-width) {
  .promo {
    display: flex;
    flex-direction: column;
    padding-top: 29px;
    padding-left: 112px;
    padding-bottom: 525px;
    text-align: start;
    color: $black;
    background-position: 29px 235px;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-size: 708px auto;
    background-position-y: 231px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-can-tablet@1x.jpg");
    }
  }

  .promo__title {
    width: 450px;
    margin: 0;
    padding-left: 5px;
    font-size: 60px;
    line-height: 60px;
  }

  .promo__slogan {
    margin-top: 41px;
    padding-left: 6px;
    font-size: 20px;
    line-height: 20px;
  }

  .promo__button {
    order: 1;
    z-index: 1;
    margin: 30px 0 0;
    padding-bottom: 11px;
    font-size: 20px;
  }

  .promo__img {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .promo__img {
    position: absolute;
    top: 0.5%;
    left: 38.9%;
    order: 2;
    z-index: 1;
    display: block;
    width: 551px;
  }

  .promo {
    display: flex;
    flex-direction: column;
    margin-left: 44px;
    padding-left: 141px;
    padding-top: 93px;
    padding-bottom: 188px;
    background-image: none;
  }

  .promo__slogan {
    padding-left: 4px;
  }

  .promo__button {
    margin-top: 30px;
    margin-left: 4px;
  }
}
