.show-more {
  outline: 3px solid red;
}

.show-more__title {
  font-size: 16px;
}

.show-more__description {
  font-family: "Arial", "Roboto", sans-serif;
  line-height: 12px;
  text-transform: none;
}

.show-more__button {
  color: $black;
  background-color: $basic-gray;
}
