.site-list__item {
  padding-top: 17px;
  padding-bottom: 18px;
  text-align: center;
  border-bottom: 1px solid $gray-stroke;
}

.site-list__item a:hover{
  opacity: 0.6;
}

.site-list__item a:active{
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    margin-top: 4px;
    margin-right: 0px;
    margin-left: 36px;
    padding-bottom: 6px;
    border-bottom: none;
  }

  .site-list__item--active {
    border-bottom: 2px solid $green;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    padding-top: 13px;
    padding-bottom: 5px;
    margin-left: 34px;
  }

  .site-list__item--index a{
    color: $white;
  }


  .site-list__item--index.site-list__item--active {
    border-bottom: 2px solid $white;
  }
}
