.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 17px;
  width: 128px;

  &--vk,
  &--insta {
    fill: $dark-gray;
  }

  &--vk:hover,
  &--insta:hover {
    fill: $green;
  }

  &--fb {
    stroke: $dark-gray;
    fill: transparent;
  }

  &--fb:hover {
    stroke: $green;
  }

  &--vk:active,
  &--insta:active {
    fill: $green;
    opacity: 0.3;
  }

  &--fb:active {
    stroke: $green;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    &--vk {
      width: 30px;
      height: 22px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 28px;
      height: 33px;
    }
  }
}
