.stats {
  text-align: center;
}

.stats__cost {
  display: flex;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: -1;
  margin-top: 33px;
  text-align: center;
}

.stats__cost-description {
  margin: 0;
}

.stats__number {
  padding: 12px 11px 11px 10px;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  border: 2px solid $gray-stroke-result;
  border-radius: 4px;
  text-align: center;
}

.stats__description {
  font-family: "Arial", "Roboto", sans-serif;
  font-size: 12px;
  line-height: 11px;
  text-transform: none;
  width: 86px;
  margin: 8px auto -28px;
  padding: 1px 8px;
  background-color: $gray-wrapper;
}

@media (min-width: $tablet-width) {
  .stats__cost {
    flex-direction: column;
    width: 189px;
    margin-top: 1px;
    margin-left: 113px;
    grid-column-start: -1;
    grid-column-end: -2;
    text-align: end;
    font-size: 20px;
    line-height: 29px;
  }

  .stats__number {
    padding: 21px 11px 20px 10px;
    margin: 0;
    font-size: 30px;
  }

  .stats__description {
    font-size: 14px;
    margin: 19px auto -28px;
    background-color: $white;

    &--weight {
      width: 113px;
    }

    &--time {
      width: 145px;
    }
  }
}

@media (min-width: $desktop-width) {
  .stats__cost {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: -2;
    width: 327px;
    margin-left: 0;
    text-align: start;
  }

  .stats__description {
    background-color: $gray-wrapper;
  }
}
