.step {
  padding-left: 100px;
  font-family: "Arial", "Roboto", sans-serif;
  font-weight: normal;
  text-transform: none;
}

.steps {
  margin-top: 20px;
  padding: 13px 20px;
  outline: 3px solid red;
}
