.step {
  padding-left: 80px;
  font-family: "Arial", "Roboto", sans-serif;
  font-weight: normal;
  text-transform: none;
  line-height: 18px;
}

.step__description {
  margin: 0;
}

.step__description-br {
  display: none;
}

.step__one {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -3px;
    left: -1px;
    width: 60px;
    height: 60px;
    background-color: $green;
  }

  &::after {
    position: absolute;
    content: "";
    top: 11px;
    left: 15px;
    width: 30px;
    height: 32px;
    background-image: url("../img/icon_leaf.svg");
    background-repeat: no-repeat;
  }
}

.step__two {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -3px;
    left: -1px;
    width: 60px;
    height: 60px;
    background-color: $green;
  }

  &::after {
    position: absolute;
    content: "";
    top: 11px;
    left: 15px;
    width: 29px;
    height: 31px;
    background-image: url("../img/icon_tub.svg");
    background-repeat: no-repeat;
  }
}

.step__three {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -3px;
    left: -1px;
    width: 60px;
    height: 60px;
    background-color: $green;
  }

  &::after {
    position: absolute;
    content: "";
    top: 11px;
    left: 17px;
    width: 25px;
    height: 30px;
    background-image: url("../img/icon_eat.svg");
    background-repeat: no-repeat;
  }
}

.step__four {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -3px;
    left: -1px;
    width: 60px;
    height: 60px;
    background-color: $green;
  }

  &::after {
    position: absolute;
    content: "";
    top: 11px;
    left: 15px;
    width: 32px;
    height: 33px;
    background-image: url("../img/icon_alarm.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .step {
    width: 261px;
    padding-left: 0;
    padding-top: 146px;
    font-size: 16px;
    line-height: 24px;
  }

  .step__one {
    &::before {
      top: 33px;
      left: -1px;
      width: 80px;
      height: 80px;
    }

    &::after {
      top: 57px;
      left: 24px;
      width: 30px;
      height: 32px;
    }
  }

  .step__one-number {
    position: relative;

    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      top: -185px;
      left: 126px;
      width: 112px;
      height: 280px;
      background-image: url("../img/number_1.svg");
      background-repeat: no-repeat;
    }
  }

  .step__two {
    &::before {
      top: 33px;
      left: -1px;
      width: 80px;
      height: 80px;
    }

    &::after {
      top: 57px;
      left: 24px;
      width: 30px;
      height: 32px;
    }
  }

  .step__two-number {
    position: relative;

    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      top: -187px;
      left: 121px;
      width: 134px;
      height: 280px;
      background-image: url("../img/number_2.svg");
      background-repeat: no-repeat;
    }
  }

  .step__three {
    &::before {
      top: 33px;
      left: -1px;
      width: 80px;
      height: 80px;
    }

    &::after {
      top: 57px;
      left: 28px;
      width: 30px;
      height: 32px;
    }
  }

  .step__three-number {
    position: relative;

    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      top: -187px;
      left: 123px;
      width: 134px;
      height: 280px;
      background-image: url("../img/number_3.svg");
      background-repeat: no-repeat;
    }
  }

  .step__four {
    &::before {
      top: 33px;
      left: -1px;
      width: 80px;
      height: 80px;
    }

    &::after {
      top: 57px;
      left: 24px;
      width: 30px;
      height: 32px;
    }
  }

  .step__four-number {
    position: relative;

    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      top: -185px;
      left: 123px;
      width: 136px;
      height: 280px;
      background-image: url("../img/number_4.svg");
      background-repeat: no-repeat;
    }
  }

  .step__description-br {
    display: block;
  }
}
