.steps {
  margin-top: 15px;
  padding: 13px 20px;
}

.steps__list {
  margin-top: 39px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media (min-width: $tablet-width) {
  .steps {
    margin-top: 34px;
    padding: 13px 30px 50px 30px;
  }

  .steps__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 99px;
    column-gap: 61px;
  }

}

@media (min-width: $desktop-width) {
  .steps__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 79px;
  }

  .steps {
    margin-top: 20px;
    padding: 56px 110px;
  }
}
