.wrapper-promo {
  background-image: linear-gradient(180deg, $green-wrapper 20px 303px, $white 303px);
}

@media (min-width: $tablet-width) {
  .wrapper-promo {
    background: transparent;
  }
}

@media (min-width: $desktop-width) {
  .wrapper-promo {
    background-image: linear-gradient(90deg, $white 46% 50%, #64a83b 49%);
  }
}
