.programs {
  margin-top: 200px;

  .program {
    background-color: $gray;

    .program__title {
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
    }

    .program__description {
      font-family: "Arial", sans-serif;
      line-height: 18px;
      text-transform: none;
    }

    .program__link {
      font-size: 16px;
    }
  }
}

