.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
}

body {
  margin: 0 auto;
  font-family: "Oswald", "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $black;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: block;
  width: 280px;
  padding: 9px 20px 9px 20px;
  font-family: "Oswald", "Roboto", sans-serif;
  font-weight: normal;
  text-align: center;
  color: $white;
  font-size: 16px;
  text-transform: uppercase;
  background-color: $green;
  outline: none;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: $green-hover;
}

.button:active {
  background-color: $green-hover;
  color: rgba(255, 255, 255, 0.3);
}

.title {
  margin: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-transform: none;
}

.fieldset-reset {
  padding: 0;
  outline: none;
  border: none;
}

@media (min-width: $tablet-width) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .button {
    width: 244px;
    padding: 13px 26px;
    font-size: 20px;
  }

  .title {
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 110px;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}
